In [2]:
s = "bhargavi"

In [12]:
s[:4:2]

'ba'

In [3]:
s[:5:4]

'bg'

In [4]:
s[4]

'g'

In [5]:
s[::-1]  #to print reverse

'ivagrahb'

In [6]:
s[:5]

'bharg'

In [7]:
s[:8:2]

'bagv'

In [10]:
print("swetha\tbhargavi") #\n to print in different lines
                          #\r to print only after slash
                        #\t to print with space

swetha	bhargavi

In [11]:
b = "my name is swetha"

In [17]:
d = "hi bhargavi hru"

In [18]:
len(d)

15

In [19]:
d[3:11:1]

'bhargavi'

In [12]:
len(b)

17

In [13]:
type(b)

str

In [16]:
b[10:3]

''

In [ ]:
[start:stop:stepsize]

In [23]:
g = "sudheer"

for i in g:
    print(i)

s
u
d
h
e
e
r

In [18]:
a = "abhiram"

for i in a:
    
       # print("ramaraju")
    print(i, end = '')

abhiram

In [22]:
k = "ramaraju"

for i in enumerate(k):
    print(i)

(0, 'r')
(1, 'a')
(2, 'm')
(3, 'a')
(4, 'r')
(5, 'a')
(6, 'j')
(7, 'u')

In [9]:
fruits = ["mango" , "cherry" , "apple" , "papaya" , "banana"]

for i in fruits:
    print(i)
    if i == "apple":
        break
    print(i)

mango
mango
cherry
cherry
apple

In [36]:
s = "kiran"

for i in s:
    if i == 'r':
        print("this is suri")
    print(i)

k
i
this is suri
r
a
n

In [37]:
fruits = ["mango" , "cherry" , "apple" , "papaya" , "banana"]

s = "kiran"

for i in s:
    if i == 'r':
        break
    print(i)

k
i

In [38]:
f = ["d" , "r" , "g" , "h" , "j"]

for i in f:
    print(i)
    for j in i:
        print(j)

d
d
r
r
g
g
h
h
j
j

In [16]:
for i in range(1,5):
     for j in range(1,4):
          print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
4 1
4 2
4 3

In [43]:

for i in range(0,5):
     print('*' *5)

*****
*****
*****
*****
*****

In [41]:
n=10

for i in range(n):
    for j in range(n):
        print('#' ,end = ' ') # end='' to print in same line
    print() #to print in next line

# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #

In [47]:
n = 5 

print('$' *6)

$$$$$$

In [48]:
n=6
for j in range(n):
    print('*', end = ' ')

* * * * * *

In [56]:
n = 10

for i in range(n):
    for j in range (n):
            print('#',end = ' ')
    print()

# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #
# # # # # # # # # #

In [44]:
n=5

for i in range(n):
    for j in range(i+1):
        print('*', end = '')
    print()

*
**
***
****
*****

In [65]:
n = 10

for i in range(0,n):
    for j in range(0,i+1):
        print('*', end = '')
    print()

*
**
***
****
*****
******
*******
********
*********
**********

In [64]:
n = 10
for i in range(n):
    for i in range(i,n):
        print('*', end = '')
    print()

**********
*********
********
*******
******
*****
****
***
**
*

In [47]:
i=1
j=1
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end = '\t' )
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [1]:
a = int(input("num"))

i = 1

while i<= 10:
    print(a,'*',i ,'=', a*i)
    i=i+1

num6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [5]:
a=7
b=range(1,11)
for i in b:
    print(a,'*',i, '=',a*i)
    #i=i+1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [1]:
c=11
i=1
while i<=10:
    print(c,"*",i,'=',c*i)
    i=i+1

11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [6]:
a=9

for i in range(1,11):
     print(a,"*",i,'=',a*i)

9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [9]:
for i in range(0,5):
    for j in range(0,i+1):
        print("*", end = '')
    print()

*
**
***
****
*****

In [14]:
for i in range(0,5):
     for j in range(i,5):
            print("*", end = '')
        print()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)